@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

@tailwind base;

/* remove firefox dotted border on focus */
::-moz-focus-inner {
  border: 0;
}

a:hover,
a:focus {
  text-decoration: underline;
}
a.no-underline:hover,
a.no-underline:focus {
  text-decoration: none;
}

:root {
  --tw-outline-color: rgb(107, 114, 128);
}
.hover\:outline-color-blue:hover {
  --tw-outline-color: #3b82f6;
}

@tailwind components;
@tailwind utilities;
